.input-section{
position: absolute;
top: 30px;
left: 0%;

height: 30px;
width: 215px;
background-color: rgb(179, 175, 165);
border: none;

border-radius: 7px;

align-items: center;
}
.input-section::selection{
  border: none;
 
}

.input-section::placeholder{
  font-size: 12px;
  align-items: center;
  color: rgb(77, 74, 59);
}



.button{
  position: absolute;
  top:70px;
  right: 2px;
  height: 30px;
  width: 80px;
  border-radius: 8px;
  background-color: rgb(91, 107, 66);
  border: none;
}
