*{
  padding: 0;
  margin: 0;
  background-color:rgb(214, 222, 224);;
}
.app{
  position: absolute;
  top: 20%;
  left: 50%;
transform: translate(-50%);
  height: 430px;
  width: 300px;
  background-color: rgb(194, 154, 21);
}
h1{
  position: absolute;
  top: 40px;
  left: 88px;
  background-color: rgb(192, 179, 135);
  
}
span{
  background-color: rgb(192, 179, 135);
  color:rgba(231, 23, 16, 0.281);
}

.signup-section{
  position: absolute;
  top: 50%;
  left: 40px;
  background-color: rgb(194, 154, 21);

}
h3{
  background-color:  rgb(194, 154, 21);
  };
